h1,
.h1 {
    font-weight: 500;
    padding: 0;
    margin: 0 0 clamp-calc(20px, 40px);
    font-size: clamp-calc(24px, 45px);
}

.text {
    & p,
    & ul,
    & ol,
    & h2,
    & h3 {
        padding: 0;
        margin-top: 0;
        margin-bottom: clamp-calc(20px, 25px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    & ul,
    & ol {
        padding-left: 0;
        margin-left: clamp-calc(30px, 40px);
    }

    & h2 {
        font-size: clamp-calc(20px, 30px);
        font-weight: 500;
    }

    & h3 {
        font-size: clamp-calc(18px, 26px);
        font-weight: 500;
    }

    & a {
        color: $color_gold;
        text-decoration: underline;
        transition: .3s ease-in-out;

        &:hover {
            color: $color_primary;
        }
    }
}