.breadcrumbs {
    padding: 0 0 clamp-calc(20px, 40px);

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;

        & li {
            &:not(:last-child) {
                display: flex;
                align-items: center;
                gap: 5px;

                &::after {
                    content: '/';
                    color: #aea5cc;
                }
            }

            & a {
                color: #aea5cc;
                text-decoration: none;

                &:hover {
                    @include tablet-from {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}