.confidence {
    background: $color_rose;
    padding: clamp-calc(20px, 50px) clamp-calc(15px, 70px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp-calc(20px, 30px);
    height: 100%;

    &__title {
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: clamp-calc(18px, 24px);
    }

    &__text {
        font-size: clamp-calc(16px, 22px);

        & p {
            margin: 0;
            
            &:not(:last-child) {
                margin-bottom: clamp-calc(20px, 30px);    
            }
        }
    }
}