.partner {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    & img {
        &._color {
            position: absolute;
            opacity: 0;
            transition: .3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        @include mobile {
            //width: 70%;
            //height: auto;
            transform: scale(.8);
        }
    }
}