.tabs {
    &__item {
        &.active {
            background: $color_primary;
            color: $color_white;
        }
    }

    &__slide {
        width: auto;
    }

    & .swiper-wrapper {
        margin-bottom: clamp-calc(20px, 40px);
    }
}

.tab-panes .tab-pane {
    display: none;

    &.active {
        display: block;
    }
}