.tabs {
    display: flex;
    align-items: center;
    gap: clamp-calc(15px, 20px);
    margin: 0 calc(clamp-calc(15px, 80px) * -1);
    padding: 0 clamp-calc(15px, 80px);
    overflow-x: auto;
    margin-bottom: clamp-calc(20px, 40px);

    &__item {
        &.active {
            background: $color_primary;
            color: $color_white;
        }
    }

    &__slide {
        //width: auto;
    }

    & .swiper-wrapper {
        //margin-bottom: clamp-calc(20px, 40px);
    }
}

.tab-panes .tab-pane {
    display: none;

    &.active {
        display: block;
    }
}