.vacancy-page {
    display: grid;
    grid-template-columns: .66fr .34fr;
    align-items: start;
    gap: clamp-calc(30px, 150px);

    @include tablet-small {
        grid-template-columns: 1fr;
        align-items: stretch;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: clamp-calc(20px, 40px)
    }

    &__block {
        padding: clamp-calc(20px, 50px) clamp-calc(15px, 60px);
    }

    &__place {
        display: flex;
        align-items: center;
        gap: clamp-calc(8px, 15px);
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: clamp-calc(40px, 20px);

        @include mobile {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        gap: clamp-calc(20px, 40px);
    }

    &__sidebar-title {
        font-weight: 500;
        padding: 0;
        margin: 0;
        font-size: clamp-calc(18px, 35px);
    }
}