.swiper._shadow-vertical._full-width(data-swiper-home-about)
    .swiper-wrapper.home-about__items
        +about('about-pluses-1', '18 лет', 'на рынке ИТ', 0)
        +about('about-pluses-2', '30+', 'опытных специалистов в штате', 100)
        +about('about-pluses-3', '95% клиентов', 'повторно обращаются к нам и рекомендуют нас как надежного партнера', 200)
        +about('about-pluses-4', '100+', 'уникальных продуктов в нашем портфеле', 300)