.section._pb0
    .container
        article.chief.radius-30.shadow(data-aos="fade-up")
            +picture('chief__picture picture', 'tmp/chief/chief', 'jpg', 240, 240, 'Денис Хвощев', 'zoom-out')

            .chief__content
                p.chief__text На рынке информационных технологий действует множество поставщиков, предлагающих широкий спектр оборудования и программного обеспечения. Однако часто компании сосредотачиваются на продаже товаров, нежели на реальных решениях бизнес задач клиентов. Обратившись к нам, вы получите не только комплексную оценку вашей проблемы, но и наш опыт и компетенцию, а самое главное - стремление найти наиболее эффективное решение для вас.
                    +sprite('chief__quote', 81, 70, 'quote')
                h3.chief__title Денис Хвощев
                p.chief__subtitle Учредитель компании