.cookies(data-cookie)
    .container.cookies__container
        .cookies__text Мы используем cookies на нашем сайте, чтобы сделать его удобнее для Вас. Продолжая его использовать, Вы подтверждаете своё согласие на <a href="privacy-policy.html">обработку персональных данных</a> в соответствии с <a href="privacy-policy.html">политикой конфиденциальности</a>.
        button.cookies__btn.btn.btn-reset._blue(type="button" data-cookie-approve) Соглашаюсь
            img(src="@img/cookies.svg" alt="cookies" width="20" height="20")
