.home-services(data-accordion-services data-aos="fade-up")
    mixin service(title, text)
        article.service.ac
            button.service__btn.btn-reset.radius-10.shadow.ac-trigger(type="button")
                span.service__btn-bg 1 0 1 0 0 0 1 1 0 1 0 0 0 1<br>0 1 0 0 1 0 1 0 1 0 0 1 0 1<br>1 0 1 0 0 0 1 1 0 1 0 0 0 1<br>0 1 0 0 1 0 1 0 1 0 0 1 0 1<br>1 0 1 0 0 0 1 1 0 1 0 0 0 1<br>0 1 0 0 1 0 1 0 1 0 0 1 0 1
                span.service__btn-title=title
                span.service__btn-arrow.radius-10.shadow
                    +sprite('', 21, 16, 'arrow-right-short')

            .service__content.radius-30.shadow.ac-panel
                +picture('service__picture picture radius-30 shadow', 'tmp/services/service-1', 'jpg', 1010, 350, title)
                h3.service__title=title
                p.service__text=text
                .service__link-wrapper
                    a.service__link.link.btn.btn-reset._blue._full(href="service.html") Подробнее

    +service('Аудит ИТ-инфраструктуры', 'Детальный анализ текущего состояния инфраструктуры, определение резервов ее улучшения и развития, а также создание четкой и перспективной стратегии ИТ и соответствующей дорожной карты проектов, учитывающей бюджетные ограничения.')
    +service('Проектирование ИТ-инфраструктуры', 'Детальный анализ текущего состояния инфраструктуры, определение резервов ее улучшения и развития, а также создание четкой и перспективной стратегии ИТ и соответствующей дорожной карты проектов, учитывающей бюджетные ограничения.')
    +service('Внедрение ИТ-инфраструктуры', 'Детальный анализ текущего состояния инфраструктуры, определение резервов ее улучшения и развития, а также создание четкой и перспективной стратегии ИТ и соответствующей дорожной карты проектов, учитывающей бюджетные ограничения.')
    +service('Управление ИТ-инфраструктуры', 'Детальный анализ текущего состояния инфраструктуры, определение резервов ее улучшения и развития, а также создание четкой и перспективной стратегии ИТ и соответствующей дорожной карты проектов, учитывающей бюджетные ограничения.')