extends base

block meta
    - var seotitle = 'О нас'
    - var seodescription = ''
    - var seokeywords = ''

block main
    //Хлебные крошки
    .breadcrumbs(data-aos="fade-up")
        .container
            ul.breadcrumbs__list.list-reset
                li 
                    a(href="home.html") Главная
                li О нас

    //Интро
    .container
        article.sale.radius-30.shadow(data-aos="fade-up")
            .about-intro__content.sale__content
                .sale__bg 1 0 1 0 0 0 1 1 0 1 0 0 0 1<br>0 1 0 0 1 0 1 0 1 0 0 1 0 1<br>1 0 1 0 0 0 1 1 0 1 0 0 0 1<br>0 1 0 0 1 0 1 0 1 0 0 1 0 1<br>1 0 1 0 0 0 1 1 0 1 0 0 0 1<br>0 1 0 0 1 0 1 0 1 0 0 1 0 1<br>1 0 1 0 0 0 1 1 0 1 0 0 0 1<br>0 1 0 0 1 0 1 0 1 0 0 1 0 1
                h1.h1.about-intro__title(data-aos="fade-right") О нас
                p.about-intro__subtitle(data-aos="fade-right") Мы команда единомышленников, которая специализируется на подборе и внедрении решений в сфере информационных технологий. 
                p.about-intro__text(data-aos="fade-right") Наша компания была основана с целью предоставления клиентам передовых технологий и инноваций, которые способствуют улучшению их бизнеса, повышению производительности и достижению стратегических целей. Наша миссия - предоставлять нашим клиентам надежные и передовые решения, которые оптимизируют их бизнес-процессы и укрепляют конкурентное преимущество.
            +picture('sale__picture picture _cover', 'tmp/about/about-intro', 'jpg', 860, 540, 'О нас', 'fade-left')

        +picture('about-intro__scheme picture', 'about-scheme', 'png', 1760, 352, 'О нас', 'flip-left')

        .about-intro__big-text.shadow.radius-10(data-aos="fade-down") <span>Идея</span>, которой мы придерживаемся — это простые <span>решения</span> сложных <span>задач</span>

    //Ценности
    section.section._pb0
        .container
            h2.section__title(data-aos="fade-right") Наши ценности

            .swiper._shadow-vertical._full-width(data-swiper-home-about)
                .swiper-wrapper.home-about__items._about
                    +about('about-pluses-1', 'Инновации', 'Вдохновляемся идеей постоянного развития и исследования новых технологий. Это позволяет нам предоставлять своим клиентам решения, которые находятся во внутренней зоне комфорта будущего.', 0)
                    +about('about-pluses-2', 'Клиентоориентиро-ванность', 'Гордимся тем, что слушаем и понимаем потребности своих клиентов. Наши проекты разрабатываются, учитывая конкретные требования и ожидания.', 100)
                    +about('about-pluses-3', 'Профессионализм', 'Наша команда состоит из высококвалифицированных специалистов, готовых решать сложные задачи и обеспечивать надежное функционирование поставляемых нами продуктов и услуг.', 200)
                    +about('about-pluses-4', 'Устойчивость', 'Мы стремимся к долгосрочным отношениям с клиентами и партнерами, основанными на доверии и ответственности.', 300)

    //История
    section.section._pb0
        .container.history
            h2.section__title.history__title(data-aos="fade-right") История компании

            .history__content
                mixin history-item(title, text)
                    article.history-item(data-aos="history-item" data-aos-offset="300")
                        .history-item__content.shadow.radius-30
                            h3.history-item__title=title
                            p.history-item__text=text

                +history-item('2005 – 2010 г.', 'Открыли офис "Джи-Эс-Ти" в Самаре. Сформировали команду продвижения продуктов и услуг в сфере ИТ. Получили авторизации HP, IBM, Kraftway, Cisco и других ведущих производителей. Успешно организовали несколько ежегодных мероприятий для наших клиентов, направленных на продвижение ИТ-оборудования, включая продукцию российских и передовых мировых брендов.')

                +history-item('2011 – 2017 г.', 'Открыли филиалы в Саранске и Москве, где сформировали команду, специализирующуюся на продвижении продуктов и услуг в области информационной безопасности. Провели обучение специалистов и получили необходимые лицензии, расширив при этом как клиентские, так и партнерские портфели. Продолжая нашу работу, продвигали использование ИТ-оборудования отечественных производителей Kraftway, ICL, Ramec, а также продукцию ведущих мировых брендов, включая Fujitsu, IBM, Cisco, в проектах, охватывающих Самарскую область и Центральную Россию. В рамках Национального проекта "Образование" участвовали в цифровизации образовательных учреждений.')

                +history-item('2018 – 2022 г.', 'Вошли в состав ГК МСК ГРУПП и создали специальные отделы по проектированию, продажам и поддержке. Расширили географию наших проектов, открыв представительство в Санкт-Петербурге. Успешно осуществили реализацию ИТ и ИБ проектов при подготовке мероприятий к Чемпионату Мира по футболу 2018 года, а также в рамках национальных проектов "Безопасный город" и "Здравоохранение". В результате общий оборот ГК МСК ГРУПП достиг более 8 миллиардов рублей.')

                +history-item('2023 г. – Настоящее время', 'Изменили стратегию развития ИТ-направлений в компании, увеличив инвестиции в собственный центр компетенций и технической экспертизы. В наш продуктовый портфель входят ведущие игроки отечественного рынка: Yadro, ICL, Гравитон, Aquarius, Depo, Pantum, Qtech, Eltex, АО «НПО РусБИТех», Конфидент, ИнфоТеКС, Positive Technologies, Лаборатория Касперского и др. Активно замещаем оборудование и программное обеспечение, ушедших с российского рынка производителей и поддерживаем ИТ-инфраструктуру наших клиентов в постоянно обновляемом состоянии.')

    //Директор
    include pug/layout/_chief

    