extends base

block meta
    - var seotitle = 'Конкретная запись блога'
    - var seodescription = ''
    - var seokeywords = ''

block main
    //Хлебные крошки
    .breadcrumbs(data-aos="fade-up")
        .container
            ul.breadcrumbs__list.list-reset
                li 
                    a(href="home.html") Главная
                li 
                    a(href="blog.html") Блог
                li Конкретная запись блога

    .container
        h1.h1(data-aos="fade-up") Конкретная запись блога

        .news-page 
            .news-page__content
                +picture('news-page__picture picture radius-30 shadow', 'tmp/news/news-page', 'jpg', 1050, 430, 'Конкретная запись блога', 'zoom-in')

                time.news-page__date(datetime="2022-12-22" data-aos="fade-right") Дата: 22.12.22

                ul.news-page__tags.list-reset(data-aos="fade-up")
                    li #статья
                    li #мероприятие

                .text(data-aos="fade-up")
                    p Также как синтетическое тестирование однозначно фиксирует необходимость анализа существующих паттернов поведения. А ещё элементы политического процесса могут быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Задача организации, в особенности же экономическая повестка сегодняшнего дня, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для экономической целесообразности принимаемых решений. Безусловно, укрепление и развитие внутренней структуры, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для прогресса профессионального сообщества. 
                    p Равным образом, консультация с широким активом требует анализа форм воздействия. Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от поставленных обществом задач. Однозначно, многие известные личности формируют глобальную экономическую сеть и при этом — ограничены исключительно образом мышления. 
                    p Имеется спорная точка зрения, гласящая примерно следующее: ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Для современного мира убеждённость некоторых оппонентов, в своём классическом представлении, допускает внедрение благоприятных перспектив.

            aside.news-page__sidebar(data-aos="fade-left")
                h3.news-page__other-title Другие записи:
                +news('tmp/news/news-1', '22.12.22', 'NGR Softlab и «Сиссофт» объявили о начале сотрудничества', '#статьи', 'fade-up')
                +news('tmp/news/news-1', '22.12.22', 'NGR Softlab и «Сиссофт» объявили о начале сотрудничества', '#мероприятия', 'fade-up')
